name: Release Helm Charts

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  release-helm:
    uses: gccloudone-aurora/.github/.github/workflows/release-helm.yaml@v3
    with:
      pages_branch: "gh-pages"
